@using System.Security.Claims

<ul class="navbar-nav">
@if (User.Identity?.IsAuthenticated ?? false)
{
    <li class="nav-item">
        <span class="navbar-text text-light me-3">Hello @User.Identity?.Name!</span> @* Use text-light for dark navbar *@
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
            <button type="submit" class="nav-link btn btn-link text-light"><i class="bi bi-box-arrow-right me-1"></i>Logout</button> @* Use text-light for dark navbar *@
        </form>
    </li>
}
else
{
    @* Register link removed as per requirements (Admin adds users) *@
    @* <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Account" asp-action="Register">Register</a>
    </li> *@
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Account" asp-action="Login"><i class="bi bi-box-arrow-in-right me-1"></i>Login</a> @* Use text-light for dark navbar *@
    </li>
}
</ul>
